{% extends 'base.html' %}
{% block title %}-main{%endblock%}
{% block content %}
<h1>Main Page</h1>
<div class="container">
    <div class="container-fluid">

        <div class="row">
            <div class="column" style="background-color:#FFB695;">
                <form action="{% url 'register'%}" method="POST">
                    {{form.as_p}}
                    {% csrf_token %}
                    <button type="submit">Add</button>
                    <input type="submit" class="btn btn-danger" value="Calculate">
                </form>
            </div>

        </div>
    </div>
</div>


{% endblock %}
